<div class="center-div">
  <h2 class="mat-h2">Create your poll with question and options to choose</h2>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>What's your question?</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
  </p>

  <label class="mat-h3">Options</label>
  <ul style="list-style: none; padding-left:0px">
    <li *ngFor="let eachOption of OptionsList;let eachIndex = index">
      <mat-form-field required>
        <input matInput [value]="eachOption">
        <mat-error *ngIf="eachOption == ''">Cannot be empty</mat-error>
      </mat-form-field>
      <button mat-button (click)="removeItem(eachIndex)">X</button>
    </li>
  </ul>
  <button mat-raised-button (click)="addNewOption()">Add</button>
  <br/>
  <p>
    <br/>
    <label class="mat-h3">Option type</label>
    <br/>
    <mat-button-toggle-group value="radiobutton">
      <mat-button-toggle value="radiobutton">Radio button</mat-button-toggle>
      <mat-button-toggle value="checkboxes">Checkboxes</mat-button-toggle>
    </mat-button-toggle-group>
  </p>
  <p>

    <label class="mat-h3" display="block">IP Duplicate Filter</label>
    <label class="mat-h4">Based on user IP Address he will not be allowed to vote again</label>
    <br/>
    <mat-button-toggle-group value="No">
      <mat-button-toggle value="Yes">Yes</mat-button-toggle>
      <mat-button-toggle value="No">No</mat-button-toggle>
    </mat-button-toggle-group>

  </p>
  <p>
    <button mat-raised-button color="accent">Submit</button>
  </p>
</div>
