<div class="center-div">
  <form [formGroup]="fg" (ngSubmit)="onSubmit()">
    <h2 class="mat-h2">Create your poll with question and options to choose</h2>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>What's your question?</mat-label>
        <textarea matInput formControlName="question"></textarea>
        <mat-hint>Question should be minimum 10 characters</mat-hint>
      </mat-form-field>
    </p>

    <label class="mat-h3">Options</label>
    <ul class="optionsUL" formArrayName="options" cdkDropList style="list-style: none; padding-left:0px"
      (cdkDropListDropped)="drop($event)">
      <li class="optionsLI" *ngFor="let eachOption of options.controls;let eachIndex = index" cdkDrag>
        <mat-form-field>
          <input matInput placeholder="Option goes here" [formControl]="options.controls[eachIndex]">
          <mat-error>Cannot be empty</mat-error>
          <button matSuffix mat-icon-button type="button" color="warn" aria-label="Delete" (click)="removeItem(eachIndex)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-form-field>
      </li>
    </ul>
    <p>
      <mat-form-field>
        <input matInput id="newOption" [(ngModel)]="newoptionvalue" [ngModelOptions]="{standalone: true}"
          placeholder="Type option and click on plus">
        <mat-error *ngIf="newoptionvalue == ''">Cannot be empty</mat-error>
        <button matSuffix type="button" mat-mini-fab color="accent" [disabled]="newoptionvalue == '' || newoptionvalue.length < 3" aria-label="Add"
          (click)="addNewOption()">
          <mat-icon>add</mat-icon>
        </button>
      </mat-form-field>
    </p>
    <p>
      <label class="mat-h3" class="mat-h3">End Date
        <mat-hint>(Maximum duration is 3 months)</mat-hint>
      </label>

      <br />
      <mat-form-field>
        <mat-label>Choose a date when poll should end</mat-label>
        <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" formControlName="endDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker></mat-datepicker>
      </mat-form-field>
    </p>
    <!--<div cdkDropList class="poll-option-list" (cdkDropListDropped)="drop($event)">
    <div class="poll-option-box" *ngFor="let eachOption of OptionsList" cdkDrag>
      <mat-form-field style="width: 100%;">
        <input matInput [value]="eachOption">
        <mat-error *ngIf="eachOption == ''">Cannot be empty</mat-error>
      </mat-form-field>
      <button mat-icon-button color="warn" aria-label="Delete">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>-->
    <p>
      <label class="mat-h3">Option type</label>
      <br />
      <mat-button-toggle-group formControlName="optionType" value="optionType">
        <mat-button-toggle value="0">Radio button</mat-button-toggle>
        <mat-button-toggle value="1">Checkboxes</mat-button-toggle>
      </mat-button-toggle-group>
    </p>

    <p>

      <label class="mat-h3" display="block">Allow Duplicates
        <mat-hint>(Based on user IP Address he will not be allowed to vote again)</mat-hint>
      </label>

      <br />
      <mat-button-toggle-group formControlName="duplicateCheck" value="duplicateCheck">
        <mat-button-toggle value="1">Yes</mat-button-toggle>
        <mat-button-toggle value="0">No</mat-button-toggle>
      </mat-button-toggle-group>

    </p>
    <p>
      <button type="submit" [disabled]="!fg.valid"
      mat-raised-button color="primary">Submit</button>
    </p>
  </form>
</div>
