<div class="freepoll-container" [class.freepoll-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="freepoll-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="freepoll-app-name"><button routerLink="." mat-button>FreePoll</button></h1>
  </mat-toolbar>

  <mat-sidenav-container class="freepoll-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" [style.width.vw]="mobileQuery.matches ? 40 : 15">
      <mat-nav-list>
        <a mat-list-item *ngFor="let nav of fillerNav" routerLink="{{nav.url}}">{{nav.name}}</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content style="padding-left: 20px;padding-top: 20px ;">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<app-footer></app-footer>
