<div class="freepoll-container">
  <mat-toolbar color="primary" class="freepoll-toolbar">
    <button mat-icon-button (click)="toogleNav()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="freepoll-app-name"><button routerLink="." mat-button>FreePoll</button></h1>
  </mat-toolbar>

  <div id="myNav" [style.width]="showNav? '100%': '0%'" class="freepoll-sidenav-container overlay">

    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
    <div class="overlay-content d-flex justify-content-center">
      <div class="col-sm-3 col-md-3">
      <ul class="menuul">
        <li *ngFor="let eachmenu of fillerNav;let i = index;">
          <a [routerLink]="eachmenu.url" (mouseenter)="hoverSubMenu(i)"
            (click)="showSubMenu(i)">{{eachmenu.name}} <mat-hint style="color:gray" *ngIf="eachmenu.children.length > 0"> ></mat-hint></a>
        </li>
      </ul>
    </div>
    <div class="col-sm-3 col-md-3">
      <ul class="menuul">
        <li *ngFor="let eachmenu of subMenu;let i = index;">
          <a [routerLink]="eachmenu.url"
            (click)="closeNav()">{{eachmenu.name}}</a>
        </li>
      </ul>
    </div>
    </div>

  </div>
  <div class="mainrouter">
    <router-outlet></router-outlet>
  </div>
</div>
<app-footer style="display: none;"></app-footer>
<app-progress-spinner [displayProgressSpinner]="displayProgressSpinner">
</app-progress-spinner>
