<div class="freepoll-container" >
  <!-- <mat-toolbar color="primary" class="freepoll-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="freepoll-app-name"><button routerLink="." mat-button>FreePoll</button></h1>
  </mat-toolbar> -->
  <app-header [sidenav]="leftSidenav"></app-header>

  <mat-sidenav-container class="freepoll-sidenav-container">
    <!-- <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" [style.width.vw]="mobileQuery.matches ? 40 : 15">
      <mat-nav-list>
        <a mat-list-item *ngFor="let nav of fillerNav" routerLink="{{nav.url}}">{{nav.name}}</a>
      </mat-nav-list>
    </mat-sidenav> -->
    <mat-sidenav #leftSidenav mode="side">
      <app-left-menu></app-left-menu>
    </mat-sidenav>
    <mat-sidenav-content [@onMainContentChange]="onSideNavChange ? 'open': 'close'">
      <div class="main_content">
        <div style="padding: 20px">
          <router-outlet></router-outlet>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<app-footer></app-footer>
<app-progress-spinner [displayProgressSpinner]="displayProgressSpinner">
</app-progress-spinner>
