<div *ngIf="loaded">
  <h2 class="mat-h1" align="center" *ngIf="errorMessage != ''">{{errorMessage}}</h2>
  <form class="form" [formGroup]="fg" (ngSubmit)="onSubmit()" *ngIf="errorMessage == ''">
    <div class="inputGroup" style="background-color: transparent;margin-bottom:30px;">
      {{pollData.name}}
    </div>
    <div class="inputGroup" style="background-color: transparent;margin-top:10px;font-size:1rem">
      <mat-hint *ngIf="pollData.type != 0">(Note: You can select multiple options)</mat-hint>
    </div>
    <div formArrayName="options" class="inputGroup" *ngFor="let a of options.controls;let i= index">
      <input id="{{pollData.type == 0 ? 'radio'+i:  'option'+i }}" [value]="options.controls[i].value.optionId"
        name="{{pollData.type == 0 ? 'radio':  'option'+i }}" (change)="onCheckChange($event)"
        [type]="pollData.type == 0 ? 'radio': 'checkbox'" />
      <label for="{{pollData.type == 0 ? 'radio'+i:  'option'+i }}">{{options.controls[i].value.optionText}}</label>
    </div>
    <div class="inputGroup" align="center" style="background-color: transparent;margin-top:30px;">
      <button mat-raised-button color="accent" style="width: 100%;" [disabled]="selected.length==0 || fg.disabled" type="submit">SUBMIT</button>
    </div>
  </form>
</div>

<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
