<mat-grid-list cols="6" rowHeight="100px">
  <mat-grid-tile
      colspan="1"
      rowspan="5">
  </mat-grid-tile>
  <mat-grid-tile
      colspan="2"
      rowspan="5">
      <h2 class="headingcolor">
        <p>You are just a click away to register and create a poll or survey.</p>
        <button mat-raised-button color="primary">Get Started</button>
      </h2>
  </mat-grid-tile>
  <mat-grid-tile
    colspan="2"
    rowspan="5">
    <span class="material-icons group-icon">
      group
    </span>
    <span class="material-icons poll-icon">
      poll
    </span>
    <span class="material-icons share-icon">
      share
      </span>
  </mat-grid-tile>
  <mat-grid-tile
      colspan="1"
      rowspan="5">
  </mat-grid-tile>
</mat-grid-list>
