.poll-icon{
  font-size: 4rem;
  font-variant-caps: all-petite-caps;
  position: relative;
  left: 1vw;
  color:#9e579d;
}
.group-icon{
  position: relative;
  font-size: 4rem;
  font-variant-caps: all-petite-caps;
  color: #574b90;
}

.share-icon{
  font-size: 4rem;
  left: 1vw;
  font-variant-caps: all-petite-caps;
  position: relative;
  color: #fc85ae;
}
.headingcolor{
  color: #303a52;
  opacity: 0.8;
  font-size: 2rem;
  top:10vh;
}
