@import '../../styles';
.poll-icon{
  font-size: 200px;
}
.group-icon{
  position: relative;
  left: 48px;
  font-size: 103px;
  margin-bottom: 149px;
  color: rebeccapurple;
}

.share-icon{
  font-size: 100px;
  position: relative;
  left: -76px;
  top: 64px;
  color:mat-color($accent);
}
.headingcolor{
  color: mat-color($accent);
  font-size: 5rem;
}

.gridbackground {
}
